src/main/mule/Interface_4_ps10.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="project_smart-main">
        <http:listener config-ref="project_smart-httpListenerConfig" path="${http.pathR}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="project_smart-config" />
        <error-handler ref="Global-Error-HError_Handler">
            
        </error-handler>
    </flow>
    <flow name="project_smart-console">
        <http:listener config-ref="project_smart-httpListenerConfig" path="${http.pathC}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="project_smart-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\notes\(noteId):application\json:project_smart-config">
		<flow-ref doc:name="Flow Reference" doc:id="39639188-053a-48eb-8239-2d1f18cb4949" name="putnote10Sub_Flow"/>
    </flow>
    <flow name="delete:\notes\(noteId):project_smart-config">
		<flow-ref doc:name="Flow Reference" doc:id="216b1fbf-abd2-4f90-850f-ab484517fadd" name="deleteByNoteId10Sub_Flow"/>
    </flow>
    <flow name="get:\notes:project_smart-config">
		<flow-ref doc:name="Flow Reference" doc:id="fa5761dc-f621-4911-aeab-73df0ad72199" name="getNotes10Sub_Flow"/>
    </flow>
    <flow name="get:\notes\(noteId):project_smart-config">
		<flow-ref doc:name="Flow Reference" doc:id="8c38dc08-fd4d-4b8c-b25c-8b025c63f884" name="getaNoteById10Sub_Flow"/>
    </flow>
    <flow name="post:\notes:application\json:project_smart-config">
		<flow-ref doc:name="Flow Reference" doc:id="261755c0-9b65-4d9e-aea6-42cb292bfabf" name="postNote10Sub_Flow"/>
    </flow>
</mule>
